#!/usr/bin/env ruby
# frozen_string_literal: true

compile '/**/*.html' do
  layout '/default.*'
  if item.identifier =~ '**/index.*' || item.identifier =~ '**/concept.*'
    write item.identifier.to_s
  else
    write "#{item.identifier.without_ext}/index.html"
  end
end

compile '/**/*.md' do
  filter :includes
  filter :kramdown
  filter :relativize_paths, type: :html
  filter :colorize_syntax,  default_colorizer: :rouge

  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s.gsub('.md', '.html')
  else
    write "#{item.identifier.without_ext}/index.html"
  end
end

compile '/**/*.css' do
  filter :relativize_paths, type: :css
  write item.identifier.to_s
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
